@model GymTrack.Models.Trainer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Trainer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Id</dt>
        <dd class="col-sm-10">@Model?.Id</dd>

        <dt class="col-sm-2">Specialty</dt>
        <dd class="col-sm-10">@Model?.Specialty</dd>

        <dt class="col-sm-2">Fitness Center</dt>
        <dd class="col-sm-10">@((Model?.FitnessCenter?.Name) ?? "-")</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
